.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	padding: 3px 8px;
	color: white;
	background-color: steelblue;
	border-radius: 7px;
	border: 2px solid white;
	cursor: pointer;
}
.cart{
	padding: 3px 8px;
	color: white;
	background-color: #2874f0;
	border-radius: 4px;
	border: 2px solid yellow;
	margin: 0 60px;
	cursor: pointer;
}
.btn:hover{
 font-weight: bold;
}
.my2{
	margin: 20px 0;
}
.text-center{
	text-align: center;
}